@page
@model MusicShare.Pages.Generi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Generi</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Aggiungi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genere[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genere[0].Nome)
            </th>
            <th>
                Azioni
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Modifica</a> |
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Dettagli</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
