@page
@model MusicShare.Pages.Canzoni.DetailsModel

@{
    ViewData["Title"] = "Details";

    System.IO.FileInfo fileInfo = new System.IO.FileInfo(Model.Canzone.Nome_file);

    var Exstension = fileInfo.Extension;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Dettagli</h1>

<div>
    <h4>Canzone</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Canzone.Titolo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canzone.Titolo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Canzone.Autore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canzone.Autore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Canzone.Nome_file)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canzone.Nome_file)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Canzone.Genere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canzone.Genere.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Canzone.Data_Caricamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canzone.Data_Caricamento)
        </dd>
        <dt class="col-sm-2">
            <label>Ascolta canzone</label>
        </dt>
        <dd class="col-sm-10">
            @if (Exstension == ".mp3")
            {
                <audio controls>
                    <source src="~/uploads/@Model.Canzone.Nome_file" type="audio/mp3" />
                </audio>
            }
            else if (Exstension == ".wav")
            {
                <p>Il file è in formato wav e non può essere riprodotto nel browser</p>
            }
            else if (Exstension == ".ogg")
            {
                <audio controls>
                    <source src="~/uploads/@Model.Canzone.Nome_file" type="audio/ogg" />
                </audio>
            }
            else if (Exstension == ".3gp")
            {
                <p>Il file è in formato 3gp e non può essere riprodotto nel browser</p>
            }
        </dd>
        <dt class="col-sm-2">
            <label>Scarica</label>
        </dt>
        <dd class="col-sm-10">
            <a class="btn btn-outline-info" href="~/uploads/@Html.DisplayFor(model => model.Canzone.Nome_file)" download><i class="fa fa-download"></i> Download!</a>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Canzone.id">Modifica</a> |
    <a asp-page="./Index">Torna alla lista</a>
</div>
