@page
@model MusicShare.Pages.Canzoni.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Lista canzoni disponibili</h1>

<p>
    <a asp-page="Create">Carica una canzone</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Canzone[0].Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canzone[0].Autore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canzone[0].Genere.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canzone[0].Data_Caricamento)
            </th>
            <th>
                Caricata da
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Canzone) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Caricamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Modifica</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Dettagli</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Elimina</a> | 
                <a class="btn btn-outline-info" href="~/uploads/@Html.DisplayFor(modelItem => item.Nome_file)" download><i class="fa fa-download"></i> Download!</a>
            </td>
        </tr>
}
    </tbody>
</table>
