@page
@model MusicShare.Pages.Raccolte.DetailsModel

@{
    ViewData["Title"] = "Dettagli";
}

<h1>Dettagli</h1>

<div>
    <h4>Raccolta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raccolta.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raccolta.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raccolta.Data_Creazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raccolta.Data_Creazione)
        </dd>
    </dl>

    <hr />

    @if (Model.raccoltaCanzoni.Count() > 0)
    {
        <h4>@Model.raccoltaCanzoni.Count() canzoni nella raccolta</h4>

        <table align="center" class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        Titolo
                    </td>
                    <td>
                        Autore
                    </td>
                    <td>
                        Anno Pubblicazione
                    </td>
                    <td>
                        Ascolta
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.raccoltaCanzoni)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Canzone.Titolo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Canzone.Autore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Canzone.Anno_pubblicazione)
                        </td>
                        <td>
                            <audio controls>
                                <source src="~/uploads/@Html.DisplayFor(modelItem=>item.Canzone.Nome_file)" type="audio/mp3" />
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }else
    {
        <h4>Non sono presenti canzoni nella raccolta</h4>
    }
</div>
<div>
    <a class="btn btn-info" asp-page="./Index">Torna alle raccolte</a>
</div>
